<h2>Title Details</h2>


<div>
    <div >
        <div>
            Tconst: <span data-bind="text: tconst"></span>
        </div>
        <div>
            Title: <span data-bind="text: originaltitle"></span>
        </div>
        <div>
            Year: <span data-bind="text: startyear"></span>
        </div>
        <div>
            <button data-bind="click: clickBookmark, enable: enableBookmark" type="button" class="btn btn-primary btn-sm">Bookmark</button>
            <span data-bind="if: alreadyBookmarked">This title is already in your bookmarks</span>
            <span data-bind="if: addedBookmark">Bookmark added</span>
        </div>
    </div>
</div>