<h3 class="text-center">Your Rating History</h3>

<div>
    <!-- Hvis der ikke er nogen RH -->
    <div data-bind="ifnot: ratinghistory">
        <span> No Search History</span>
    </div>

    <!-- Hvis der en RH -->
    <div data-bind="if: ratinghistory">
        <div>
            <!-- binder options som er et array af pagesizes -->
            Page size: <select data-bind="options: pageSizes, selectedOptions: selectedPageSize"></select>
        </div>
        <!-- databind til ratinghistory hvor den går igennem og laver en button som bliver til den rating of title der er. -->
        <ul data-bind="foreach: ratinghistory" class="list-group my-2">
            <li type="button" class="list-group-item list-group-item-action">
                Title: <span data-bind="text: title"></span>
                Rating: <span data-bind="text: rating"></span>
                <!-- Button der kan delete -->
                <button type="button" class="btn-sm btn-danger ml-auto" data-bind="click: $parent.deleteRating">Delete</button>

            </li>
        </ul>
        <!-- en liste med en knap der kan vise prev/next og bliver aktiv hvis der er gået videre fra "første" side. -->
        <ul class="pagination justify-content-center">
            <div class="btn-group navigationbuttons">
                <button type="button" class="btn btn-primary" data-bind="click: showPrev, enable: enablePrev">prev</button>
                <button type="button" class="btn btn-primary" data-bind="click: showNext, enable: enableNext">next</button>
            </div>
        </ul>
    </div>
</div>