<div class="container-fluid">
    <form class="col-md-4 ml-auto mr-auto">
        <h2> Sign In</h2>

        <div class="form-group">
            <label for="InputUsername">Username</label>
            <input data-bind="textInput: username" type="text" class="form-control" id="InputUsername" aria-describedby="emailHelp" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="InputPassword">Password</label>
            <input data-bind="textInput: password" type="password" class="form-control" id="InputPassword" placeholder="Password">
        </div>
        <div data-bind="if: showIncorrect" class="my-2">
            <span>Incorrect username or password, please try again</span>
        </div>
        <div data-bind="if: userNotCreated" class="my-2">
            <span>Failed to create user</span>
        </div>
        <div data-bind="if: userCreated" class="my-2">
            <span>User Created - Please sign in</span>
        </div>
        <div>
            <button data-bind="click: clickSignIn, enable: enableButtons" type="submit" class="btn btn-primary">Sign In</button>
            <button data-bind="click: clickSignUp, enable: enableButtons" type="submit" class="btn btn-secondary">Sign Up</button>
        </div>
    </form>
</div>