<h2>Search for a person</h2>

<div class="input-group mb-3">
    <input data-bind="textInput: searchterm" type="text" class="col-2 form-control" placeholder="Name" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button data-bind="click: clickSearch, enable: enableSearch" class="btn btn-primary" type="button">Search</button>
    </div>
</div>


<div data-bind="if: showSearch">
    <div>
        <persondetails params="person: selectedPerson"></persondetails>
    </div>
    <div>
        Page size: <select data-bind="options: pageSizes, selectedOptions: selectedPageSize"></select>
    </div>

    <ul class="my-2" data-bind="foreach: searchresults" class="list-group">
        <button data-bind="text: primaryname, click: $parent.selectPerson" type="button" class="list-group-item list-group-item-action"></button>
    </ul>
    <div class="btn-group navigationbuttons">
        <button type="button" class="btn btn-primary" data-bind="click: showPrev, enable: enablePrev">prev</button>
        <button type="button" class="btn btn-primary" data-bind="click: showNext, enable: enableNext">next</button>
    </div>
</div>